.body{
  background-color: beige;
}

span{
  color:black;
}

.contagem{
   background-color:rgb(147, 175, 147);
   padding: 20px 0;
   text-align: center;
}

.objetivos{
  color:black;
  padding: 20px;
  font-size: 18px;
}

.ativo{
  background-color: rgb(202, 228, 202);
  color:black;
  border-bottom: 3px solid aquamarine
}