.body{
  background-color: beige;
}

span{
  color:black;
}

.contagem{
   background-color:rgb(139, 139, 219);
   padding: 20px 0;
   text-align: center;
}

.objetivos{
  color:black;
  padding: 20px;
  font-size: 18px;
}

.ativo{
  background-color: black;
  color:wheat;
  border-bottom: 3px solid blanchedalmond
}